@media only screen and (min-width:750px) and (max-width: 1230px) {
    
  
  .navbar figure img {
    height: 30px;
}
  .navlist ul li a{
    font-size: 1rem;
    margin: 3px 15px;
    
}
.navlist{
    margin-left: 110px;
    margin-top: 22px;
}
.navsearch{
    top: 18px;
    left: 64vw;
}
.navsearch input {
    font-size: 0.7rem;
    padding: 2px 2px;
}
.points {
    top: 280px;
   }
.btnMain{
    font-size: 0.7rem;
    margin: 0px 3px;
    }
}
